<a href="https://colab.research.google.com/github/evanalyticsalex/SQL_for_Data_Analytics/blob/main/Data_Analysis_SQL_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Blank SQL Notebook

#### Import Libraries & Database

In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

In [2]:
%%sql

SELECT tablename FROM pg_tables WHERE schemaname='public';

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

6 rows affected.

          tablename
0  currencyexchange
1          customer
2             sales
3              date
4           product
5             store

In [3]:
%%sql

SELECT *
from currencyexchange
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

         date fromcurrency tocurrency  exchange
0  2015-01-01          AUD        AUD      1.00
1  2015-01-01          AUD        CAD      0.95
2  2015-01-01          AUD        EUR      0.67
3  2015-01-01          AUD        GBP      0.53
4  2015-01-01          AUD        USD      0.82
5  2015-01-01          CAD        AUD      1.05
6  2015-01-01          CAD        CAD      1.00
7  2015-01-01          CAD        EUR      0.71
8  2015-01-01          CAD        GBP      0.55
9  2015-01-01          CAD        USD      0.86

In [4]:
%%sql

select *
from product
limit 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,productkey,productcode,productname,manufacturer,brand,color,weightunit,weight,cost,price,categorykey,categoryname,subcategorykey,subcategoryname
0,1,101001,Contoso 512MB MP3 Player E51 Silver,"Contoso, Ltd",Contoso,Silver,ounces,4.80,6.62,12.99,1,Audio,101,MP4&MP3
1,2,101002,Contoso 512MB MP3 Player E51 Blue,"Contoso, Ltd",Contoso,Blue,ounces,4.10,6.62,12.99,1,Audio,101,MP4&MP3
2,3,101003,Contoso 1G MP3 Player E100 White,"Contoso, Ltd",Contoso,White,ounces,4.50,7.40,14.52,1,Audio,101,MP4&MP3
3,4,101004,Contoso 2G MP3 Player E200 Silver,"Contoso, Ltd",Contoso,Silver,ounces,4.50,11.00,21.57,1,Audio,101,MP4&MP3
4,5,101005,Contoso 2G MP3 Player E200 Red,"Contoso, Ltd",Contoso,Red,ounces,2.40,11.00,21.57,1,Audio,101,MP4&MP3
5,6,101006,Contoso 2G MP3 Player E200 Black,"Contoso, Ltd",Contoso,Black,ounces,8.80,11.00,21.57,1,Audio,101,MP4&MP3
6,7,101007,Contoso 2G MP3 Player E200 Blue,"Contoso, Ltd",Contoso,Blue,ounces,2.10,11.00,21.57,1,Audio,101,MP4&MP3
7,8,101008,Contoso 4G MP3 Player E400 Silver,"Contoso, Ltd",Contoso,Silver,ounces,5.60,30.58,59.99,1,Audio,101,MP4&MP3
8,9,101009,Contoso 4G MP3 Player E400 Black,"Contoso, Ltd",Contoso,Black,ounces,2.10,30.58,59.99,1,Audio,101,MP4&MP3
9,10,101010,Contoso 4G MP3 Player E400 Green,"Contoso, Ltd",Contoso,Green,ounces,11.00,30.58,59.99,1,Audio,101,MP4&MP3

In [5]:
%%sql

select *
from customer
limit 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,customerkey,geoareakey,startdt,enddt,continent,gender,title,givenname,middleinitial,surname,...,zipcode,country,countryfull,birthday,age,occupation,company,vehicle,latitude,longitude
0,15,4,1990-09-10,2034-07-29,Australia,male,Mr.,Julian,A,McGuigan,...,4357,AU,Australia,1965-03-24,55,Border Patrol agent,Cut Rite Lawn Care,2000 Peugeot Kart Up,-27.83,151.17
1,23,8,1995-08-11,2045-01-26,Australia,female,Ms.,Rose,H,Dash,...,6055,AU,Australia,1990-05-10,30,Agricultural and food scientist,Rack N Sack,2005 Volvo XC90,-31.92,116.05
2,36,2,1992-03-12,2044-05-14,Australia,female,Ms.,Annabelle,J,Townsend,...,2304,AU,Australia,1964-07-16,56,Special education teacher,id Boutiques,1999 Lancia Lybra,-32.88,151.71
3,120,6,1983-07-23,2033-08-09,Australia,male,Mr.,Jamie,H,Hetherington,...,7256,AU,Australia,1946-12-11,74,Dental laboratory technician,Showbiz Pizza Place,2006 Dodge Durango,-39.77,144.02
4,180,7,1987-11-26,2026-10-14,Australia,male,Mr.,Gabriel,P,Bosanquet,...,3505,AU,Australia,1955-04-24,65,Administrative support specialist,Dubrow's Cafeteria,1995 Morgan Plus 4,-34.13,142.14
5,185,2,1990-08-01,2029-05-28,Australia,female,Mrs.,Gabrielle,B,Castella,...,2469,AU,Australia,1980-02-23,40,Management dietitian,d.e.m.o.,1997 Alpina B6,-29.01,152.84
6,189,7,2008-07-05,2017-11-01,Australia,female,Ms.,Hayley,C,Jull,...,3377,AU,Australia,1960-04-18,60,Sculptor,Asian Plan,2006 Alpina B5,-37.34,142.91
7,210,2,1980-09-28,2030-05-08,Australia,female,Mrs.,Natalie,L,Hilder,...,2632,AU,Australia,1950-11-23,70,Motel desk clerk,Enrich Garden Services,1995 Ford Fairlane,-36.84,149.05
8,225,7,1985-06-25,2017-09-25,Australia,male,Mr.,Hunter,J,Hutchins,...,3763,AU,Australia,1978-07-20,42,Teletype operator,Mr. Good Buys,2012 Lexus GX,-37.51,145.44
9,243,2,1982-02-07,2027-02-09,Australia,female,Ms.,Maya,J,Atherton,...,2446,AU,Australia,1954-05-15,66,Pilates instructor,Franklin Music,1995 Chevrolet Caprice,-31.36,152.39

In [6]:
%%sql
SELECT *
from information_schema.columns
Where table_name = 'customer'

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

24 rows affected.

,table_catalog,table_schema,table_name,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length,character_octet_length,...,is_identity,identity_generation,identity_start,identity_increment,identity_maximum,identity_minimum,identity_cycle,is_generated,generation_expression,is_updatable
0,contoso_100k,public,customer,customerkey,1,None,NO,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
1,contoso_100k,public,customer,geoareakey,2,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2,contoso_100k,public,customer,startdt,3,None,YES,date,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
3,contoso_100k,public,customer,enddt,4,None,YES,date,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
4,contoso_100k,public,customer,birthday,18,None,YES,date,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
5,contoso_100k,public,customer,age,19,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
6,contoso_100k,public,customer,latitude,23,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
7,contoso_100k,public,customer,longitude,24,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
8,contoso_100k,public,customer,middleinitial,9,None,YES,character varying,5.00,20.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
9,contoso_100k,public,customer,surname,10,None,YES,character varying,50.00,200.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
10,contoso_100k,public,customer,streetaddress,11,None,YES,character varying,100.00,400.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
11,contoso_100k,public,customer,city,12,None,YES,character varying,50.00,200.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
12,contoso_100k,public,customer,state,13,None,YES,character varying,50.00,200.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
13,contoso_100k,public,customer,statefull,14,None,YES,character varying,100.00,400.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
14,contoso_100k,public,customer,zipcode,15,None,YES,character varying,20.00,80.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
15,contoso_100k,public,customer,country,16,None,YES,character varying,50.00,200.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
16,contoso_100k,public,customer,countryfull,17,None,YES,character varying,100.00,400.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
17,contoso_100k,public,customer,company,21,None,YES,character varying,100.00,400.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
18,contoso_100k,public,customer,vehicle,22,None,YES,character varying,100.00,400.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
19,contoso_100k,public,customer,occupation,20,None,YES,character varying,100.00,400.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
20,contoso_100k,public,customer,continent,5,None,YES,character varying,50.00,200.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
21,contoso_100k,public,customer,gender,6,None,YES,character varying,10.00,40.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
22,contoso_100k,public,customer,title,7,None,YES,character varying,20.00,80.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
23,contoso_100k,public,customer,givenname,8,None,YES,character varying,50.00,200.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES

In [7]:
%%sql

SELECT *
FROM DATE
limit 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,date,datekey,year,yearquarter,yearquarternumber,quarter,yearmonth,yearmonthshort,yearmonthnumber,month,monthshort,monthnumber,dayofweek,dayofweekshort,dayofweeknumber,workingday,workingdaynumber
0,2015-01-01,20150101,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Thursday,Thu,5,0,0
1,2015-01-02,20150102,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Friday,Fri,6,1,1
2,2015-01-03,20150103,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Saturday,Sat,7,0,1
3,2015-01-04,20150104,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Sunday,Sun,1,0,1
4,2015-01-05,20150105,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Monday,Mon,2,1,2
5,2015-01-06,20150106,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Tuesday,Tue,3,1,3
6,2015-01-07,20150107,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Wednesday,Wed,4,1,4
7,2015-01-08,20150108,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Thursday,Thu,5,1,5
8,2015-01-09,20150109,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Friday,Fri,6,1,6
9,2015-01-10,20150110,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Saturday,Sat,7,0,6

In [8]:
%%sql

SELECT
s.orderdate ,
s.quantity*s.netprice * s.exchangerate AS net_revenue,
c.givenname,
c.countryfull,
c.continent,
p.productkey,
p.productname,
p.categoryname,
p.subcategoryname,
CASE WHEN
s.quantity * s.netprice * s.exchangerate > 1000 Then 'High'
else 'low' END AS HIGH_LOW
from sales as s
left join customer as c
on s.customerkey = c.customerkey
left join product as p
on s.productkey = p.productkey
where
orderdate::date>='2020-01-01'

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

124451 rows affected.

,orderdate,net_revenue,givenname,countryfull,continent,productkey,productname,categoryname,subcategoryname,high_low
0,2020-01-01,738.00,Sheron,United States,North America,425,Adventure Works Desktop PC1.80 ED180 Black,Computers,Desktops,low
1,2020-01-01,56.02,Swen,Germany,Europe,1584,SV DVD 38 DVD Storage Binder E25 Black,"Music, Movies and Audio Books",Movie DVD,low
2,2020-01-01,192.11,Swen,Germany,Europe,1925,Fabrikam Refrigerator 3.2CuFt E1600 Blue,Home Appliances,Refrigerators,low
3,2020-01-03,1548.00,Jonas,United States,North America,484,Proseware LCD17W E202 White,Computers,Monitors,High
4,2020-01-03,57.14,Jonas,United States,North America,1639,Contoso DVD 38 DVD Storage Binder E25 Red,"Music, Movies and Audio Books",Movie DVD,low
...,...,...,...,...,...,...,...,...,...,...
124446,2024-04-20,219.66,Annemie,Netherlands,Europe,708,Proseware Ink Jet Fax Machine E100 White,Computers,"Printers, Scanners & Fax",low
124447,2024-04-20,4648.44,Annemie,Netherlands,Europe,477,Proseware LCD22 M2000 White,Computers,Monitors,High
124448,2024-04-20,399.90,Richard,United States,North America,50,WWI 2GB Pulse Smart pen M100 Black,Audio,Recording Pen,low
124449,2024-04-20,2079.00,Richard,United States,North America,357,Fabrikam Laptop14.1 E4101 Red,Computers,Laptops,High
124450,2024-04-20,971.64,Vera,United States,North America,228,Litware Home Theater System 2.1 Channel E211 B...,TV and Video,Home Theater System,low

In [9]:
%%sql

SELECT
  orderdate,
  COUNT(DISTINCT customerkey) as total_customer
FROM
  sales
WHERE
  orderdate between '2023-01-01' and '2023-12-31'
GROUP BY orderdate
ORDER BY orderdate

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

364 rows affected.

      orderdate  total_customer
0    2023-01-01              12
1    2023-01-02              49
2    2023-01-03              64
3    2023-01-04              78
4    2023-01-05              87
..          ...             ...
359  2023-12-27              73
360  2023-12-28              75
361  2023-12-29              55
362  2023-12-30              91
363  2023-12-31               9

[364 rows x 2 columns]

In [10]:
%%sql

SELECT
  s.orderdate,
  COUNT(DISTINCT s.customerkey) as total_customer,
  COUNT(DISTINCT CASE WHEN c.continent ='Europe' THEN s.customerkey END) as eu_customers,
  COUNT(DISTINCT CASE WHEN c.continent ='North America' THEN s.customerkey END) as na_customers,
  COUNT(DISTINCT CASE WHEN c.continent ='Australia' THEN s.customerkey END) as au_customers
FROM
  sales as s
LEFT JOIN customer as c
ON s.customerkey = c.customerkey
WHERE
  s.orderdate between '2023-01-01' and '2023-12-31'
GROUP BY s.orderdate
ORDER BY s.orderdate

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

364 rows affected.

      orderdate  total_customer  eu_customers  na_customers  au_customers
0    2023-01-01              12             6             5             1
1    2023-01-02              49            15            31             3
2    2023-01-03              64            17            44             3
3    2023-01-04              78            28            46             4
4    2023-01-05              87            22            57             8
..          ...             ...           ...           ...           ...
359  2023-12-27              73            26            41             6
360  2023-12-28              75            24            44             7
361  2023-12-29              55            19            32             4
362  2023-12-30              91            25            50            16
363  2023-12-31               9             1             8             0

[364 rows x 5 columns]

In [11]:
%%sql

SELECT
  p.categoryname,
  SUM(CASE WHEN s.orderdate between '2023-01-01' and '2023-12-31' THEN
  s.quantity*s.netprice*s.exchangerate ELSE 0 END ) AS net_revenue_2023,
  SUM(CASE WHEN s.orderdate between '2022-01-01' and '2022-12-31' THEN
  s.quantity*s.netprice*s.exchangerate ELSE 0 END ) AS net_revenue_2022
FROM
  sales as s
LEFT JOIN product as p
ON s.productkey = p.productkey
GROUP BY p.categoryname
ORDER BY p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

                    categoryname  net_revenue_2023  net_revenue_2022
0                          Audio         688690.18         766938.21
1        Cameras and camcorders         1983546.29        2382532.56
2                    Cell phones        6002147.63        8119665.07
3                      Computers       11650867.21       17862213.49
4                 Games and Toys         270374.96         316127.30
5                Home Appliances        5919992.87        6612446.68
6  Music, Movies and Audio Books        2180768.13        2989297.28
7                   TV and Video        4412178.23        5815336.61

In [12]:
%%sql

SELECT
  p.categoryname,
  AVG(CASE WHEN s.orderdate between '2023-01-01' and '2023-12-31' THEN
  s.quantity*s.netprice*s.exchangerate ELSE 0 END ) AS avg_net_revenue_2023,
  AVG(CASE WHEN s.orderdate between '2022-01-01' and '2022-12-31' THEN
  s.quantity*s.netprice*s.exchangerate ELSE 0 END ) AS avg_net_revenue_2022
FROM
  sales as s
LEFT JOIN product as p
ON s.productkey = p.productkey
GROUP BY p.categoryname
ORDER BY p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

                    categoryname  avg_net_revenue_2023  avg_net_revenue_2022
0                          Audio                 45.06                 50.18
1        Cameras and camcorders                 147.23                176.85
2                    Cell phones                143.89                194.66
3                      Computers                250.55                384.13
4                 Games and Toys                 13.34                 15.60
5                Home Appliances                349.20                390.05
6  Music, Movies and Audio Books                 68.11                 93.37
7                   TV and Video                322.72                425.35

In [13]:
%%sql

SELECT
  p.categoryname,
  AVG(CASE WHEN s.orderdate BETWEEN '2023-01-01' AND '2023-12-31' THEN s.quantity * s.netprice * s.exchangerate ELSE 0 END) AS avg_net_revenue_2023,
  MIN(CASE WHEN s.orderdate BETWEEN '2023-01-01' AND '2023-12-31' THEN s.quantity * s.netprice * s.exchangerate ELSE 0 END) AS min_net_revenue_2023,
  MAX(CASE WHEN s.orderdate BETWEEN '2023-01-01' AND '2023-12-31' THEN s.quantity * s.netprice * s.exchangerate ELSE 0 END) AS max_net_revenue_2023,
  AVG(CASE WHEN s.orderdate BETWEEN '2022-01-01' AND '2022-12-31' THEN s.quantity * s.netprice * s.exchangerate ELSE 0 END) AS avg_net_revenue_2022,
  MIN(CASE WHEN s.orderdate BETWEEN '2022-01-01' AND '2022-12-31' THEN s.quantity * s.netprice * s.exchangerate ELSE 0 END) AS min_net_revenue_2022,
  MAX(CASE WHEN s.orderdate BETWEEN '2022-01-01' AND '2022-12-31' THEN s.quantity * s.netprice * s.exchangerate ELSE 0 END) AS max_net_revenue_2022
FROM
  sales AS s
LEFT JOIN product AS p
ON s.productkey = p.productkey
GROUP BY p.categoryname
ORDER BY p.categoryname;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

,categoryname,avg_net_revenue_2023,min_net_revenue_2023,max_net_revenue_2023,avg_net_revenue_2022,min_net_revenue_2022,max_net_revenue_2022
0,Audio,45.06,0.00,2730.87,50.18,0.00,3473.36
1,Cameras and camcorders,147.23,0.00,13572.00,176.85,0.00,15008.39
2,Cell phones,143.89,0.00,8912.22,194.66,0.00,7692.37
3,Computers,250.55,0.00,27611.60,384.13,0.00,38082.66
4,Games and Toys,13.34,0.00,3357.30,15.60,0.00,5202.01
5,Home Appliances,349.20,0.00,32915.59,390.05,0.00,31654.55
6,"Music, Movies and Audio Books",68.11,0.00,3804.91,93.37,0.00,5415.19
7,TV and Video,322.72,0.00,27503.12,425.35,0.00,30259.41

In [14]:
%%sql

SELECT
  p.categoryname,
  AVG(CASE WHEN s.orderdate BETWEEN '2023-01-01' AND '2023-12-31' THEN s.quantity * s.netprice * s.exchangerate ELSE 0 END) AS avg_net_revenue_2023,
  MIN(CASE WHEN s.orderdate BETWEEN '2023-01-01' AND '2023-12-31' THEN s.quantity * s.netprice * s.exchangerate ELSE 0 END) AS min_net_revenue_2023,
  MAX(CASE WHEN s.orderdate BETWEEN '2023-01-01' AND '2023-12-31' THEN s.quantity * s.netprice * s.exchangerate ELSE 0 END) AS max_net_revenue_2023,
  AVG(CASE WHEN s.orderdate BETWEEN '2022-01-01' AND '2022-12-31' THEN s.quantity * s.netprice * s.exchangerate ELSE 0 END) AS avg_net_revenue_2022,
  MIN(CASE WHEN s.orderdate BETWEEN '2022-01-01' AND '2022-12-31' THEN s.quantity * s.netprice * s.exchangerate ELSE 0 END) AS min_net_revenue_2022,
  MAX(CASE WHEN s.orderdate BETWEEN '2022-01-01' AND '2022-12-31' THEN s.quantity * s.netprice * s.exchangerate ELSE 0 END) AS max_net_revenue_2022,
  PERCENTILE_CONT(0.50) WITHIN GROUP (ORDER BY netprice) AS median_price
FROM
  sales AS s
LEFT JOIN product AS p
ON s.productkey = p.productkey
GROUP BY p.categoryname
ORDER BY p.categoryname;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

,categoryname,avg_net_revenue_2023,min_net_revenue_2023,max_net_revenue_2023,avg_net_revenue_2022,min_net_revenue_2022,max_net_revenue_2022,median_price
0,Audio,45.06,0.00,2730.87,50.18,0.00,3473.36,105.30
1,Cameras and camcorders,147.23,0.00,13572.00,176.85,0.00,15008.39,312.00
2,Cell phones,143.89,0.00,8912.22,194.66,0.00,7692.37,264.60
3,Computers,250.55,0.00,27611.60,384.13,0.00,38082.66,424.08
4,Games and Toys,13.34,0.00,3357.30,15.60,0.00,5202.01,14.78
5,Home Appliances,349.20,0.00,32915.59,390.05,0.00,31654.55,279.99
6,"Music, Movies and Audio Books",68.11,0.00,3804.91,93.37,0.00,5415.19,59.39
7,TV and Video,322.72,0.00,27503.12,425.35,0.00,30259.41,277.16

In [15]:
%%sql

SELECT
  PERCENTILE_CONT(0.50) WITHIN GROUP (ORDER BY netprice) AS median_price
FROM
  sales

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

   median_price
0        191.95

In [16]:
%%sql

SELECT
  AVG(s.netprice) as Avg_Price
FROM
  sales as s

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

   avg_price
0     324.30

In [17]:
%%sql

SELECT
  p.categoryname AS Category,
  PERCENTILE_CONT(0.50) WITHIN GROUP (ORDER BY (CASE WHEN s.orderdate BETWEEN '2022-01-01' AND '2022-12-31' THEN (s.quantity*s.netprice*s.exchangerate) END)) AS y2022_median_sales,
  PERCENTILE_CONT(0.50) WITHIN GROUP (ORDER BY (CASE WHEN s.orderdate BETWEEN '2023-01-01' AND '2023-12-31' THEN (s.quantity*s.netprice*s.exchangerate) END)) AS y2023_median_sales
FROM
  sales AS s
LEFT JOIN product AS p
ON s.productkey = p.productkey
GROUP BY
  p.categoryname
ORDER BY
  p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

                        category  y2022_median_sales  y2023_median_sales
0                          Audio              257.21              266.59
1        Cameras and camcorders               651.46              672.60
2                    Cell phones              418.60              375.88
3                      Computers              809.70              657.18
4                 Games and Toys               33.78               32.62
5                Home Appliances              791.00              825.25
6  Music, Movies and Audio Books              186.58              159.63
7                   TV and Video              730.46              790.79

In [18]:
%%sql

SELECT
  orderdate,
  quantity,
  netprice,
  CASE
      WHEN  quantity >=2 AND netprice>=50 then 'High Value Order'
      ELSE 'Standard Order'
      END AS Order_Type
FROM sales
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

    orderdate  quantity  netprice        order_type
0  2015-01-01         1     98.97    Standard Order
1  2015-01-01         1    659.78    Standard Order
2  2015-01-01         2     54.38  High Value Order
3  2015-01-01         4    286.69  High Value Order
4  2015-01-01         7    135.75  High Value Order
5  2015-01-01         3    434.30  High Value Order
6  2015-01-01         1     58.73    Standard Order
7  2015-01-01         3     74.99  High Value Order
8  2015-01-01         2    113.57  High Value Order
9  2015-01-01         1    499.45    Standard Order

In [19]:
%%sql

SELECT
  orderdate,
  quantity,
  netprice,
  CASE
      WHEN  quantity >=2 AND netprice>=100 then 'High Value Order'
      WHEN  netprice >=100 THEN 'Single High Value Item'
      WHEN  quantity >=2 THEN 'Multiple Standard Items'
      ELSE 'Single Standard Item'
      END AS Order_Type
FROM sales
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

    orderdate  quantity  netprice               order_type
0  2015-01-01         1     98.97     Single Standard Item
1  2015-01-01         1    659.78   Single High Value Item
2  2015-01-01         2     54.38  Multiple Standard Items
3  2015-01-01         4    286.69         High Value Order
4  2015-01-01         7    135.75         High Value Order
5  2015-01-01         3    434.30         High Value Order
6  2015-01-01         1     58.73     Single Standard Item
7  2015-01-01         3     74.99  Multiple Standard Items
8  2015-01-01         2    113.57         High Value Order
9  2015-01-01         1    499.45   Single High Value Item

In [20]:
%%sql

With median_value AS
(SELECT
  PERCENTILE_CONT(0.50) WITHIN GROUP (ORDER BY netprice) AS median_price
FROM
  sales
WHERE orderdate BETWEEN '2022-01-01' AND '2023-12-31'
)

SELECT
  p.categoryname AS Category,
  SUM( CASE WHEN (s.quantity*s.netprice*s.exchangerate)<mv.median_price
            AND s.orderdate BETWEEN '2022-01-01' AND '2022-12-31'
  THEN (s.quantity*s.netprice*s.exchangerate) END) AS low_net_revenue_2022,
    SUM( CASE WHEN (s.quantity*s.netprice*s.exchangerate)>=mv.median_price
              AND s.orderdate BETWEEN '2022-01-01' AND '2022-12-31'
  THEN (s.quantity*s.netprice*s.exchangerate) END) AS high_net_revenue_2022,
    SUM( CASE WHEN (s.quantity*s.netprice*s.exchangerate)<mv.median_price
            AND s.orderdate BETWEEN '2023-01-01' AND '2023-12-31'
  THEN (s.quantity*s.netprice*s.exchangerate) END) AS low_net_revenue_2023,
    SUM( CASE WHEN (s.quantity*s.netprice*s.exchangerate)>=mv.median_price
              AND s.orderdate BETWEEN '2023-01-01' AND '2023-12-31'
  THEN (s.quantity*s.netprice*s.exchangerate) END) AS high_net_revenue_2023
FROM
  sales AS s
LEFT JOIN product AS p
ON s.productkey = p.productkey,
median_value AS mv
GROUP BY
  p.categoryname
ORDER BY
  p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

,category,low_net_revenue_2022,high_net_revenue_2022,low_net_revenue_2023,high_net_revenue_2023
0,Audio,78555.48,688382.73,63857.75,624832.44
1,Cameras and camcorders,37439.03,2345093.53,33996.58,1949549.70
2,Cell phones,219389.35,7900275.72,189572.62,5812575.01
3,Computers,163939.89,17698273.60,170712.70,11480154.51
4,Games and Toys,157346.43,158780.87,134111.41,136263.55
5,Home Appliances,63435.61,6549011.07,51077.02,5868915.85
6,"Music, Movies and Audio Books",297914.28,2691383.00,265746.88,1915021.25
7,TV and Video,60294.03,5755042.58,38349.76,4373828.46

In [21]:
%%sql

WITH percentiles AS (
SELECT
  PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY (s.quantity*s.netprice*s.exchangerate)) AS rev25th_percentile,
  PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY (s.quantity*s.netprice*s.exchangerate)) AS rev75th_percentile
FROM
  sales AS s
WHERE
  orderdate BETWEEN '2022-01-01' AND '2023-12-31'
)


SELECT
  p.categoryname as Category,
  CASE
      WHEN (s.quantity*s.netprice*s.exchangerate) <= pctl.rev25th_percentile THEN 'Low'
      WHEN (s.quantity*s.netprice*s.exchangerate) >= pctl.rev75th_percentile THEN 'High'
      ELSE 'Medium'
      END AS revenue_tier,
  SUM(s.quantity*s.netprice*s.exchangerate) AS total_revenue
FROM
  sales as s
  LEFT JOIN product p ON s.productkey = p.productkey,
  percentiles as pctl
GROUP BY
  p.categoryname,revenue_tier
ORDER BY
  p.categoryname,revenue_tier

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

24 rows affected.

                         category revenue_tier  total_revenue
0                           Audio         High     1213265.71
1                           Audio          Low      267217.01
2                           Audio       Medium     3832415.38
3         Cameras and camcorders          High    15050781.63
4         Cameras and camcorders           Low       81032.92
5         Cameras and camcorders        Medium     3388546.10
6                     Cell phones         High    21874993.15
7                     Cell phones          Low      410309.35
8                     Cell phones       Medium    10338963.22
9                       Computers         High    79607760.89
10                      Computers          Low      203207.06
11                      Computers       Medium    10808054.11
12                 Games and Toys         High      133749.09
13                 Games and Toys          Low      533443.13
14                 Games and Toys       Medium     1001381.91
15                Home Appliances         High    22383475.30
16                Home Appliances          Low      105045.60
17                Home Appliances       Medium     4118724.64
18  Music, Movies and Audio Books         High     3844996.29
19  Music, Movies and Audio Books          Low      642496.71
20  Music, Movies and Audio Books       Medium     6100817.99
21                   TV and Video         High    16632856.33
22                   TV and Video          Low       67221.76
23                   TV and Video       Medium     3766783.30

In [22]:
%%sql

SELECT
  orderdate,
  --DATE_TRUNC('month',orderdate)::date AS order_month,
  FLOOR(SUM(quantity*netprice*exchangerate)) AS net_revenue,
  COUNT(DISTINCT customerkey) AS total_unique_customers,
  TO_CHAR(orderdate, 'YYYY-MM') as Year_Month
FROM sales
GROUP BY orderdate

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

3294 rows affected.

       orderdate  net_revenue  total_unique_customers year_month
0     2015-01-01     11640.00                       9    2015-01
1     2015-01-02      5890.00                       6    2015-01
2     2015-01-03     19796.00                      11    2015-01
3     2015-01-05     12406.00                       4    2015-01
4     2015-01-06     10349.00                       5    2015-01
...          ...          ...                     ...        ...
3289  2024-04-16     25098.00                      14    2024-04
3290  2024-04-17     32938.00                      22    2024-04
3291  2024-04-18     28408.00                      25    2024-04
3292  2024-04-19     48386.00                      19    2024-04
3293  2024-04-20     96879.00                      35    2024-04

[3294 rows x 4 columns]

In [23]:
%%sql

SELECT
  orderdate,
  --DATE_PART('year',orderdate) AS order_year,
  --DATE_PART('month',orderdate) AS order_month,
  --DATE_PART('day',orderdate) AS order_day
  EXTRACT(year from orderdate) as order_year,
  EXTRACT(month from orderdate) as order_month,
  EXTRACT(day from orderdate) as order_day
FROM
  sales
ORDER BY RANDOM()
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

    orderdate order_year order_month order_day
0  2017-03-13       2017           3        13
1  2024-03-06       2024           3         6
2  2021-09-24       2021           9        24
3  2021-10-16       2021          10        16
4  2023-09-09       2023           9         9
5  2023-07-27       2023           7        27
6  2023-04-12       2023           4        12
7  2021-12-15       2021          12        15
8  2022-09-21       2022           9        21
9  2017-12-21       2017          12        21

In [24]:
%%sql

SELECT
  --orderdate,
   EXTRACT(year from orderdate) AS order_year,
   EXTRACT(month from orderdate) AS order_month,
  --DATE_TRUNC('month',orderdate)::date AS order_month,
  FLOOR(SUM(quantity*netprice*exchangerate)) AS net_revenue
  --COUNT(DISTINCT customerkey) AS total_unique_customers,
  --TO_CHAR(orderdate, 'YYYY-MM') as Year_Month
FROM
  sales
GROUP BY
  order_year,
  order_month
ORDER BY
  order_year,
  order_month

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

112 rows affected.

    order_year order_month  net_revenue
0         2015           1    384092.00
1         2015           2    706374.00
2         2015           3    332961.00
3         2015           4    160766.00
4         2015           5    548632.00
..         ...         ...          ...
107       2023          12   2928550.00
108       2024           1   2677498.00
109       2024           2   3542322.00
110       2024           3   1692854.00
111       2024           4    483851.00

[112 rows x 3 columns]

In [25]:
%%sql

SELECT
  CURRENT_DATE

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

  current_date
0   2025-04-11

In [26]:
%%sql

SELECT
  NOW()

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

                               now
0 2025-04-11 14:20:32.730084+00:00

In [27]:
%%sql

SELECT
 CURRENT_DATE,
  /*EXTRACT(YEAR FROM orderdate) AS order_year,
  EXTRACT(YEAR FROM CURRENT_DATE) AS current_year,
  EXTRACT(YEAR FROM CURRENT_DATE) - 5 AS minus_five, (no need anymore) */
  s.orderdate,
  p.categoryname,
  SUM(s.quantity*s.netprice*s.exchangerate) AS net_revenue
FROM
  sales as s
LEFT JOIN product as p
ON s.productkey = p.productkey
WHERE
  EXTRACT(YEAR FROM orderdate) >= EXTRACT(YEAR FROM CURRENT_DATE)- 5
GROUP BY
  s.orderdate,
  p.categoryname
ORDER BY
  s.orderdate,
  p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

11171 rows affected.

      current_date   orderdate                   categoryname  net_revenue
0       2025-04-11  2020-01-01                          Audio      5490.14
1       2025-04-11  2020-01-01        Cameras and camcorders      18880.06
2       2025-04-11  2020-01-01                    Cell phones     22593.00
3       2025-04-11  2020-01-01                      Computers     78554.54
4       2025-04-11  2020-01-01                 Games and Toys      1476.43
...            ...         ...                            ...          ...
11166   2025-04-11  2024-04-20                      Computers     58353.68
11167   2025-04-11  2024-04-20                 Games and Toys      1744.30
11168   2025-04-11  2024-04-20                Home Appliances      1562.04
11169   2025-04-11  2024-04-20  Music, Movies and Audio Books      4949.43
11170   2025-04-11  2024-04-20                   TV and Video      9841.91

[11171 rows x 4 columns]

In [28]:
%%sql

SELECT
 CURRENT_DATE,
  orderdate
FROM
  sales
WHERE
  orderdate >= CURRENT_DATE - INTERVAL '5 years'

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

118302 rows affected.

       current_date   orderdate
0        2025-04-11  2020-04-11
1        2025-04-11  2020-04-11
2        2025-04-11  2020-04-11
3        2025-04-11  2020-04-11
4        2025-04-11  2020-04-11
...             ...         ...
118297   2025-04-11  2024-04-20
118298   2025-04-11  2024-04-20
118299   2025-04-11  2024-04-20
118300   2025-04-11  2024-04-20
118301   2025-04-11  2024-04-20

[118302 rows x 2 columns]

In [29]:
%%sql

SELECT
 CURRENT_DATE,
  /*EXTRACT(YEAR FROM orderdate) AS order_year,
  EXTRACT(YEAR FROM CURRENT_DATE) AS current_year,
  EXTRACT(YEAR FROM CURRENT_DATE) - 5 AS minus_five, (no need anymore) */
  s.orderdate,
  p.categoryname,
  SUM(s.quantity*s.netprice*s.exchangerate) AS net_revenue
FROM
  sales as s
LEFT JOIN product as p
ON s.productkey = p.productkey
WHERE
  orderdate >= CURRENT_DATE - INTERVAL '5 years'
GROUP BY
  s.orderdate,
  p.categoryname
ORDER BY
  s.orderdate,
  p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10466 rows affected.

      current_date   orderdate                   categoryname  net_revenue
0       2025-04-11  2020-04-11                          Audio       841.32
1       2025-04-11  2020-04-11        Cameras and camcorders       1817.20
2       2025-04-11  2020-04-11                      Computers     17318.87
3       2025-04-11  2020-04-11                Home Appliances        89.99
4       2025-04-11  2020-04-11  Music, Movies and Audio Books      1290.76
...            ...         ...                            ...          ...
10461   2025-04-11  2024-04-20                      Computers     58353.68
10462   2025-04-11  2024-04-20                 Games and Toys      1744.30
10463   2025-04-11  2024-04-20                Home Appliances      1562.04
10464   2025-04-11  2024-04-20  Music, Movies and Audio Books      4949.43
10465   2025-04-11  2024-04-20                   TV and Video      9841.91

[10466 rows x 4 columns]

In [30]:
%%sql

SELECT
  orderdate,
  deliverydate
FROM
  sales

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

199873 rows affected.

         orderdate deliverydate
0       2015-01-01   2015-01-01
1       2015-01-01   2015-01-01
2       2015-01-01   2015-01-01
3       2015-01-01   2015-01-01
4       2015-01-01   2015-01-01
...            ...          ...
199868  2024-04-20   2024-04-21
199869  2024-04-20   2024-04-21
199870  2024-04-20   2024-04-22
199871  2024-04-20   2024-04-22
199872  2024-04-20   2024-04-22

[199873 rows x 2 columns]

In [31]:
%%sql

--SELECT AGE('2024-01-08','2024-01-01')


SELECT
  EXTRACT(day from AGE('2024-01-08','2024-01-01'))-5

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

  ?column?
0        2

In [32]:
%%sql

SELECT
  DATE_PART('year',orderdate)::int as order_year,
  ROUND(AVG(EXTRACT(days FROM AGE(deliverydate,orderdate))) ,2) AS avg_processing_time,
  CAST(SUM(quantity*netprice*exchangerate) AS INTEGER) AS net_revenue
FROM
  sales
WHERE orderdate >= CURRENT_DATE - INTERVAL '5 years'
GROUP BY
  order_year
ORDER BY
  order_year

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

5 rows affected.

   order_year avg_processing_time  net_revenue
0        2020                0.96      5151294
1        2021                1.36     21357977
2        2022                1.62     44864557
3        2023                1.75     33108566
4        2024                1.67      8396527

In [33]:
%%sql

SELECT
  customerkey,
  orderkey,
  linenumber,
  (quantity*netprice*exchangerate) as net_revenue,
  AVG(quantity*netprice*exchangerate) OVER() as avg_net_revenue_all_orders
FROM
  sales
ORDER BY customerkey
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

   customerkey  orderkey  linenumber  net_revenue  avg_net_revenue_all_orders
0           15   2259001           0      2217.41                     1032.69
1          180   3162018           0        71.36                     1032.69
2          180   1305016           0       525.31                     1032.69
3          180   3162018           1      1913.55                     1032.69
4          185   1613010           0      1395.52                     1032.69
5          243    505008           0       287.67                     1032.69
6          387   2495044           0      1265.56                     1032.69
7          387   1451007           1       619.77                     1032.69
8          387   1451007           0      1608.10                     1032.69
9          387   1451007           2        97.05                     1032.69

In [34]:
%%sql

SELECT
    AVG(quantity * netprice * exchangerate) as avg_net_revenue
FROM
   sales

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

   avg_net_revenue
0          1032.69

In [35]:
%%sql

SELECT
  customerkey,
  orderkey,
  linenumber,
  orderdate,
  (quantity*netprice*exchangerate) as net_revenue,
  AVG(quantity*netprice*exchangerate) OVER() as avg_net_revenue_all_orders,
  AVG(quantity*netprice*exchangerate) OVER(PARTITION BY customerkey) as avg_net_revenue_this_customer,
  ROW_NUMBER() OVER(PARTITION BY customerkey ORDER BY quantity*netprice*exchangerate DESC) as order_path,
  SUM(quantity*netprice*exchangerate) OVER(partition by customerkey ORDER BY orderdate ) as customer_running_total,
  SUM(quantity*netprice*exchangerate) OVER( ORDER BY TO_CHAR(orderdate,'YYYY-MM') ASC) as Running_total
FROM
  sales
ORDER BY customerkey
LIMIT 10;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,customerkey,orderkey,linenumber,orderdate,net_revenue,avg_net_revenue_all_orders,avg_net_revenue_this_customer,order_path,customer_running_total,running_total
0,15,2259001,0,2021-03-08,2217.41,1032.69,2217.41,1,2217.41,101162254.92
1,180,3162018,1,2023-08-28,1913.55,1032.69,836.74,1,2510.22,187208259.44
2,180,1305016,0,2018-07-28,525.31,1032.69,836.74,2,525.31,43028002.39
3,180,3162018,0,2023-08-28,71.36,1032.69,836.74,3,2510.22,187208259.44
4,185,1613010,0,2019-06-01,1395.52,1032.69,1395.52,1,1395.52,71584212.35
5,243,505008,0,2016-05-19,287.67,1032.69,287.67,1,287.67,11318764.97
6,387,1451007,0,2018-12-21,1608.10,1032.69,517.32,1,2370.54,55643380.05
7,387,2495044,0,2021-10-30,1265.56,1032.69,517.32,2,3636.10,113757255.52
8,387,1451007,1,2018-12-21,619.77,1032.69,517.32,3,2370.54,55643380.05
9,387,3242015,3,2023-11-16,446.44,1032.69,517.32,4,4655.84,195082460.27

In [36]:
%%sql
SELECT
  orderdate,
  linenumber*10+linenumber AS order_line_number,
  (quantity*netprice*exchangerate) AS net_revenue,
  SUM(quantity * netprice * exchangerate) OVER (PARTITION BY orderdate) as daily_net_revenue,
  (quantity*netprice*exchangerate) *100/SUM(quantity * netprice * exchangerate) OVER (PARTITION BY orderdate) as pct_daily_revenue
FROM
  sales
ORDER BY
  orderdate,
  pct_daily_revenue DESC
--LIMIT 10;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

199873 rows affected.

,orderdate,order_line_number,net_revenue,daily_net_revenue,pct_daily_revenue
0,2015-01-01,33,2395.10,11640.80,20.58
1,2015-01-01,11,1552.32,11640.80,13.34
2,2015-01-01,22,1302.91,11640.80,11.19
3,2015-01-01,0,1146.75,11640.80,9.85
4,2015-01-01,0,975.16,11640.80,8.38
...,...,...,...,...,...
199868,2024-04-20,11,12.00,96879.43,0.01
199869,2024-04-20,44,9.29,96879.43,0.01
199870,2024-04-20,0,8.35,96879.43,0.01
199871,2024-04-20,22,8.34,96879.43,0.01
199872,2024-04-20,0,6.89,96879.43,0.01

In [37]:
%%sql

SELECT * ,
  100*net_revenue /daily_net_revenue AS pct_daily_revenue
FROM (
  SELECT
    orderdate,
    orderkey*10*linenumber AS order_line_item,
    (quantity*netprice*exchangerate) AS net_revenue,
    SUM(quantity * netprice*exchangerate) OVER(PARTITION BY orderdate) as daily_net_revenue
FROM
  sales
) AS revenue_by_day

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

199873 rows affected.

,orderdate,order_line_item,net_revenue,daily_net_revenue,pct_daily_revenue
0,2015-01-01,0,63.49,11640.80,0.55
1,2015-01-01,10000,423.28,11640.80,3.64
2,2015-01-01,0,108.75,11640.80,0.93
3,2015-01-01,0,1146.75,11640.80,9.85
4,2015-01-01,10020,950.25,11640.80,8.16
...,...,...,...,...,...
199868,2024-04-20,33980340,914.61,96879.43,0.94
199869,2024-04-20,67960680,150.18,96879.43,0.16
199870,2024-04-20,0,147.78,96879.43,0.15
199871,2024-04-20,33980350,2019.62,96879.43,2.08
199872,2024-04-20,67960700,56.83,96879.43,0.06

In [59]:
%%sql
WITH yearly_cohort AS(
  SELECT DISTINCT
    customerkey,
    EXTRACT('year' FROM MIN(orderdate) OVER(PARTITION BY customerkey)) as cohort_year
  FROM
    sales
)

SELECT
  y.cohort_year,
  EXTRACT(YEAR FROM orderdate) as purchase_year,
  SUM(s.quantity*s.netprice*s.exchangerate) AS net_revenue
FROM
sales as s
LEFT JOIN yearly_cohort as y
ON  s.customerkey = y.customerkey
GROUP BY  purchase_year, y.cohort_year
ORDER BY y.cohort_year

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

55 rows affected.

   cohort_year purchase_year  net_revenue
0         2015          2015   7370979.48
1         2015          2016    392623.48
2         2015          2017    479841.31
3         2015          2018   1069850.87
4         2015          2019   1235991.48
5         2015          2020    386489.60
6         2015          2021    872845.99
7         2015          2022   1569787.72
8         2015          2023   1157633.91
9         2015          2024    356186.62
10        2016          2016   9990990.20
11        2016          2017    497028.11
12        2016          2018   1074607.29
13        2016          2019   1565400.72
14        2016          2020    474087.09
15        2016          2021    964417.85
16        2016          2022   2164681.10
17        2016          2023   1265242.63
18        2016          2024    364066.76
19        2017          2017  12244469.63
20        2017          2018   1407065.13
21        2017          2019   1764716.90
22        2017          2020    625928.03
23        2017          2021   1329858.72
24        2017          2022   2428882.80
25        2017          2023   1714010.18
26        2017          2024    464802.56
27        2018          2018  21115924.55
28        2018          2019   3229188.22
29        2018          2020   1171126.65
30        2018          2021   2201262.39
31        2018          2022   4534295.81
32        2018          2023   3271753.92
33        2018          2024    936833.89
34        2019          2019  24022798.65
35        2019          2020   1295044.99
36        2019          2021   2337594.77
37        2019          2022   4848980.74
38        2019          2023   3440099.20
39        2019          2024    751725.53
40        2020          2020   7265759.44
41        2020          2021   1016399.07
42        2020          2022   1891708.40
43        2020          2023   1435051.04
44        2020          2024    312983.02
45        2021          2021  12635597.87
46        2021          2022   3014082.50
47        2021          2023   2242369.63
48        2021          2024    495686.18
49        2022          2022  24412138.13
50        2022          2023   4237220.04
51        2022          2024   1223450.12
52        2023          2023  14345184.96
53        2023          2024    634143.37
54        2024          2024   2856649.33

In [83]:
%%sql

WITH yearly_cohort AS(
  SELECT DISTINCT
    customerkey,
    EXTRACT(YEAR FROM (MIN(orderdate) OVER(PARTITION BY customerkey))) as cohort_year,
    EXTRACT(YEAR FROM orderdate) AS purchase_year
  FROM
    sales
)

SELECT DISTINCT
cohort_year,
purchase_year,
COUNT(customerkey) OVER(PARTITION BY purchase_year,cohort_year) as num_customers
FROM
    yearly_cohort
ORDER BY
cohort_year,
purchase_year

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

55 rows affected.

   cohort_year purchase_year  num_customers
0         2015          2015           2825
1         2015          2016            126
2         2015          2017            149
3         2015          2018            348
4         2015          2019            388
5         2015          2020            171
6         2015          2021            295
7         2015          2022            600
8         2015          2023            499
9         2015          2024            146
10        2016          2016           3397
11        2016          2017            174
12        2016          2018            374
13        2016          2019            457
14        2016          2020            205
15        2016          2021            336
16        2016          2022            746
17        2016          2023            573
18        2016          2024            183
19        2017          2017           4068
20        2017          2018            473
21        2017          2019            570
22        2017          2020            251
23        2017          2021            450
24        2017          2022            943
25        2017          2023            738
26        2017          2024            246
27        2018          2018           7446
28        2018          2019           1081
29        2018          2020            475
30        2018          2021            779
31        2018          2022           1644
32        2018          2023           1407
33        2018          2024            426
34        2019          2019           7755
35        2019          2020            523
36        2019          2021            873
37        2019          2022           1700
38        2019          2023           1439
39        2019          2024            370
40        2020          2020           3031
41        2020          2021            358
42        2020          2022            694
43        2020          2023            547
44        2020          2024            163
45        2021          2021           4663
46        2021          2022           1051
47        2021          2023            889
48        2021          2024            268
49        2022          2022           9010
50        2022          2023           1764
51        2022          2024            561
52        2023          2023           5890
53        2023          2024            332
54        2024          2024           1402

How many orders the customer has

In [91]:
%%sql

WITH customer_orders AS (
  SELECT
  customerkey,
  quantity*netprice*exchangerate AS order_value,
  COUNT(*) OVER(PARTITION BY customerkey) as total_orders
FROM
  sales
)

SELECT
  customerkey,
  total_orders,
  AVG(order_value) as net_revenue
FROM
  customer_orders
GROUP BY
  customerkey,
  total_orders
ORDER BY
  total_orders DESC

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

49487 rows affected.

       customerkey  total_orders  net_revenue
0          1834524            31      1316.04
1          1375597            30      1869.11
2           249557            27      1168.61
3          1801215            26      1810.11
4          1495941            26       528.00
...            ...           ...          ...
49482      1965155             1      1039.96
49483       943321             1       352.13
49484      1720292             1      2179.58
49485      1136642             1      1175.64
49486      1723171             1       942.76

[49487 rows x 3 columns]

Customer Lifetime Value (LTV)  - Average Order Value  - Revenue per user

In [96]:
%%sql

With yearly_cohort AS(
  SELECT
    customerkey,
    EXTRACT(YEAR FROM MIN(orderdate)) AS cohort_year,
    SUM(quantity*netprice*exchangerate) AS customer_ltv
  FROM
    sales
  GROUP BY
    customerkey
)

SELECT
  *,
  AVG(customer_ltv) OVER(PARTITION BY cohort_year) as avg_cohort_ltv
FROM
  yearly_cohort
ORDER BY
  cohort_year,
  customerkey

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

49487 rows affected.

       customerkey cohort_year  customer_ltv  avg_cohort_ltv
0             4376        2015        182.00         5271.59
1             4403        2015       9530.35         5271.59
2             4925        2015       6078.08         5271.59
3             5729        2015        192.16         5271.59
4             6048        2015       1903.89         5271.59
...            ...         ...           ...             ...
49482      2093965        2024        475.22         2037.55
49483      2095129        2024        156.00         2037.55
49484      2095691        2024        326.00         2037.55
49485      2096470        2024        535.78         2037.55
49486      2097541        2024       1143.15         2037.55

[49487 rows x 4 columns]